In [21]:
import numpy as np
import pandas as pd
import os

In [22]:
# check if any rows have a value for DataRating

for file in os.listdir('../clean_data'):
    if file.endswith('.csv'):
        df = pd.read_csv('../clean_data/' + file)
        if df['DataRating'].isnull().sum() != df.shape[0]:
            
            print("not equal")

In [73]:
df = pd.read_csv('../clean_data/clean_cds_20150909.csv')
df

,Unnamed: 0,Date,Timezone,Ticker,ShortName,RedCode,Tier,Ccy,DocClause,Spread6m,...,Spread15y,Spread20y,Spread30y,Recovery,DataRating,Sector,Region,Country,AvRating,ImpliedRating
0,786,09-SEP-15,L,AUST,Rep Austria,0F77EA,SNRFOR,EUR,CR14,0.04980522520783105%,...,NaN,NaN,NaN,40%,NaN,Government,Europe,Austria,AA,AAA
1,1214,09-SEP-15,L,BELG,Kdom Belgium,BC236K,SNRFOR,EUR,CR14,NaN,...,0.5939993233654539%,0.6161648461002682%,0.587969210042327%,40%,NaN,Government,Europe,Belgium,AA,AA
2,1696,09-SEP-15,L,CAMP,Region of Campania,TV646C,SNRFOR,EUR,CR,0.5525531645485484%,...,NaN,NaN,2.1593153416645694%,40%,NaN,Government,Europe,Italy,BBB,BBB
3,2528,09-SEP-15,L,CYPRUS,Rep Cyprus,MUA36B,SNRFOR,EUR,CR14,NaN,...,3.495773486928%,3.511437034925%,3.5217597185139997%,37.5%,NaN,Government,Europe,Cyprus,B,B
4,2644,09-SEP-15,L,DBR,Fed Rep Germany,3AB549,SNRFOR,EUR,CR14,0.0037500510790346%,...,NaN,0.23161737621409964%,0.26937172165051226%,40%,NaN,Government,Europe,Germany,AAA,AAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2081,9964,09-SEP-15,L,YAPI,Yapi ve Kredi Bankasi AS,MVHEFP,SNRFOR,USD,CR14,2.302807489149%,...,4.77922716494%,4.815384585613%,4.84206224013%,25%,NaN,Financials,MiddleEast,Turkey,BBB,B
2082,9971,09-SEP-15,L,YLLG,YANLORD Ld GROUP Ltd,Y7G9BJ,SNRFOR,USD,CR14,6.713411642396%,...,NaN,NaN,NaN,32.5%,NaN,Financials,Asia,Singapore,BB,B
2083,9973,09-SEP-15,L,YOKOGA,Yokogawa Elec Corp,JSG999,SNRFOR,USD,CR14,0.13786460237599998%,...,NaN,NaN,NaN,35%,NaN,Industrials,Asia,Japan,NaN,A
2084,9980,09-SEP-15,L,YORPOW-Fin,Yorkshire Pwr Fin,GPHDBR,SNRFOR,USD,MM14,NaN,...,NaN,NaN,0.927226137064%,40%,NaN,Utilities,OffShore,Cayman Islands,BBB,BBB
2085,10022,09-SEP-15,L,ZZSOAF-SoAfLtd,Standard Bk of South Africa Ltd,SA88G6,SNRFOR,USD,CR14,NaN,...,NaN,NaN,NaN,32.5%,NaN,Financials,Africa,South Africa,BBB,B

In [34]:
df.isnull().sum()

Unnamed: 0          0
Date                0
Timezone            0
Ticker              0
ShortName           0
RedCode             0
Tier                0
Ccy                 0
DocClause           0
Spread6m          440
Spread1y          298
Spread2y          206
Spread3y           92
Spread4y          129
Spread5y            0
Spread7y           66
Spread10y          88
Spread15y         653
Spread20y         666
Spread30y         618
Recovery            0
DataRating       2086
Sector              0
Region              0
Country             0
AvRating          351
ImpliedRating       2
dtype: int64

In [58]:
df['date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [62]:
df2 = df[df['Country'] == "Netherlands"]
df2[df2['Sector'] == 'Government']

,Unnamed: 0,Date,Timezone,Ticker,ShortName,RedCode,Tier,Ccy,DocClause,Spread6m,...,Spread20y,Spread30y,Recovery,DataRating,Sector,Region,Country,AvRating,ImpliedRating,date
6,3300,09-SEP-15,L,ESS,Essent N V,NQ37E9,SNRFOR,EUR,CR14,0.113154630234%,...,0.9549992391829999%,0.9550450040740001%,40%,NaN,Government,Europe,Netherlands,BBB,AA,2015-09-09
18,6220,09-SEP-15,L,NETHRS,Kdom Neth,NRCDE0,SNRFOR,EUR,CR14,NaN,...,0.2972854878801964%,0.30211751904%,40%,NaN,Government,Europe,Netherlands,AAA,AAA,2015-09-09

In [124]:
# select the spread6m column from the ShortName "Kdom Neth" from each csv file from the clean_data folder and put them in a separate dataframe

dfs = []

for file in os.listdir('../clean_data'):
    if file.endswith('.csv'):
        df = pd.read_csv('../clean_data/' + file)
        df = df[df['ShortName'] == "Kdom Neth"]
        df = df[['Date', 'Spread5y']]
        # df = df.set_index('Date')
        dfs.append(df)

df = pd.concat(dfs, axis=0)
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by='Date', inplace=True)
df.reset_index(drop=True)
df

           Date              Spread5y
2372 2009-09-01               0.3264%
1079 2009-09-02  0.32880000000000004%
1173 2009-09-03               0.3248%
339  2009-09-04               0.3264%
329  2009-09-07               0.3192%
...         ...                   ...
958  2022-11-24             0.144234%
1688 2022-11-25             0.144282%
2659 2022-11-28             0.146203%
142  2022-11-29             0.142211%
3008 2022-11-30             0.145082%

[3457 rows x 2 columns]

In [ ]:
def select_timeseries(company_shortname, feature_list):
    """Create a timeseries dataframe for a given company and feature list

    Args:
        company_shortname (string): The shortname of the company from the clean data
        feature_list (list): the list of features to include in the dataframe

    Returns:
        dataframe: the resulting timeseries dataframe
    """
    dfs = []

    if "Date" not in feature_list:
        feature_list.append("Date")

    for file in os.listdir('../clean_data'):
        if file.endswith('.csv'):
            df = pd.read_csv('../clean_data/' + file)
            df = df[df['ShortName'] == company_shortname]
            df = df[feature_list]
            dfs.append(df)
    
    df = pd.concat(dfs, axis=0)
    df['Date'] = pd.to_datetime(df['Date'])
    df.sort_values(by='Date', inplace=True)
    df.reset_index(drop=True)

    return df